---
layout: page
permalink: /activities/
title: activities
---

	<h3 id="visits">Visits</h3>
		<div>2024 <span class="p-text-color">Research visit at CRIL, Université d'Artois (France)</span>
			<p>12/06 - 12/07 | Collaborating on a research project with Jean-Marie Lagniez and Pierre Marquis
		</div>
		<div>2024 <span class="p-text-color">TAILOR Conference in Lisbon (Portugal)</span>
			<p>03/06 - 05/06 | I attended the conference as member of the EU-funded TAILOR project (<a href="https://tailor-network.eu/what-is-the-tailor-network/">link</a>)
		</div>
		<div>2024 <span class="p-text-color">Research visit at CRIL, Université d'Artois (France)</span>
			<p>29/02 | I was invited to present at the CRIL organised Seminar, visiting Pierre Marquis and Jean-Marie Lagniez</p>
		</div>
		<div>
			2024 <span class="p-text-color"><b>Workshop Presentation</b> at the Oberwolfach Research Institute for Mathematics (Germany)</span>
			<p>02/14- 02/16 | I was invited to present at the ELLIS Workshop on Semantic, Symbolic and Interpretable Machine Learning (<a href="https://ellis.eu/programs/semantic-symbolic-and-interpretable-machine-learning">link</a>)</p>
		</div>
		<div>2024 <span class="p-text-color"><b>Research visit</b> to Örebro University (Sweden)</span>
			<p>01/14 - 01/28 | Collaborating on a research project with Pedro Zuidberg Dos Martires, Marcus Krantz, and Luc De Raedt</p>
		</div>



	<h3 id="organised">Organisor</h3>
		<div>2024 <span class="p-text-color">I organised the <span class="text-color">TAILOR Workshop</span> on the Integration of Large Language Models and Learning, Reasoning and Optimisation (<a href="https://tailor-network.eu/events/workshop-on-the-integration-of-large-language-models-and-reasoning-april-19th-1300-1700-cet/">link</a>).</span></div>

		<div>2024 <span class="p-text-color">I organised the <b>TAILOR Workshop</b> on Neuro-Symbolic AI (<a href="https://tailor-network.eu/events/workshop-on-neuro-symbolic-ai-march-20-1300-1600-cet/">link</a>).</span></div>

		<div>2022 <span class="p-text-color">As workflow chair of the <b>IJCAI-ECAI2022 conference</b>, I helped process over 4000 paper submissions.</span></div>


{% if site.data.teaching.pcmember.pcmember and site.data.teaching.pcmember.pcmember.size>0 %}
    <h3 id="pcm">Program committee member</h3>
	
	{% for job in site.data.teaching.pcmember.pcmember %}
	<div>
  		 <a href="{{job.url}}">{{ job.abbreviation }}</a> {{ job.name}}
		{% for entry in job.entries %}
			<p>{{ entry.description }} - {{ entry.years | join: ', ' }}</p>
		{% endfor %}
	</div>
	{% endfor %}
{% endif %}


	<h3 id="awards">Awards</h3>
		<div>2023 <span class="p-text-color"> I received a top reviewer award at UAI2023!</span></div>
		<div>2019 <span class="p-text-color"> The <a href="https://www.fwo.be/en/">FWO</a> granted me a personal 4-year PhD fellowship!</span></div>


{% if site.data.teaching.seminars and site.data.teaching.seminars.size>0 %}
    <h3> Seminars </h3>
    {% for item in site.data.teaching.seminars %}
        <div>
            <em>{{ item.date }}</em>:
            <strong> {{item.title}} </strong>
             <p>
                 @<a href="{{item.venue_url}}">{{item.venue}}</a>

                 {% if item.description %}<br>
                     {{ item.description }}
                 {% endif %}
             </p> 
        </div>
    {% endfor %}
{% endif %}

{% if site.data.teaching.ta and site.data.teaching.ta.size>0 %}
    <h3 id="ta">Teaching</h3>
    {% for item in site.data.teaching.ta %}
      <div>
        {{ item.period }}
        <strong>
            <a href="{{item.url}}">{{ item.course }}</a>
        </strong>

            {% if item.note %}
                <p>
                    {{ item.note }}
                </p>
            {% endif %}
      </div>
    {% endfor %}
{% endif %}


{% if site.data.teaching.thesis and site.data.teaching.thesis.size>0 %}
    <h3 id="advisor">Thesis Advisor</h3>
    {% for item in site.data.teaching.thesis %}
        <div>{{item.period}} <span class="p-text-color">{{item.topic}} </span></div>
    {% endfor %}
{% endif %}




